.cell {
    min-width: 4px;
    min-height: 4px;
    border: 1px solid black;
}

#pad{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 1px solid black;
}

.used{
    background-color: aquamarine;
    min-width: 4px;
    min-height: 4px;
    border: 1px solid black;
}
