.cell {
    border: 1px solid black;
    flex: 1;
    aspect-ratio: 1;
}

.used{
    border: 1px solid black;
    background-color: rgb(13, 146, 101);
    flex: 1;
    aspect-ratio: 1;
}

#pad{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 1px solid black;
}